h1{
    color: red;
    font-size: 100px;
}
.nav ul li{
    text-decoration: none;
    list-style: none;
}
p{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}