*{
    box-sizing: border-box;
}
.blog{
    background-color: lightblue;
    border: 5px solid goldenrod;
    border-radius: 15px;
    margin: 25px 32px;
    padding: 0 25px;
}
.author-name{
    color: red;
}
h1{
    margin-left: 30px;
}